name: Build and test termux-elf-cleaner

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          ref: ${{ env.GITHUB_REF }}

      - name: Prepare
        run: |
          autoreconf -vfi
          mkdir build

      - name: Configure
        run: |
          cd build
          ../configure

      - name: Make
        run: |
          cd build
          make

      - name: Test
        run: |
          cd build
          make check
